<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
    <div>
        <form action="add" enctype="multipart/form-data" method="POST">
            <div>
                <input type="number" name="masp" placeholder="ma sam pham">
            </div>
            <div>
                <input type="text" name="tensp" placeholder="ten sam pham">
            </div>
            <div>
                <input type="number" name="soluong" placeholder="so luong">
            </div>
            <div>
                <input type="text" name="donvi" placeholder="donvi">
            </div>
            <div>
                <input type="number" name="gia" placeholder="gia sam pham">
            </div>
            <div>
                <input type="file" name="file" placeholder="image">
            </div>
            <button type="submit">upload</button>
        </form>
    </div>
</body>

</html>